---
import { getCollection } from "astro:content";
import BlogPostLink from "../components/BlogPostLink.astro";
import Tag from "../components/Tag.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = await getCollection('posts');

const uniqueTags = allPosts.map(post => post.data.tags).flat();
---

<BaseLayout pageTitle="Blog">
  <h1 transition:animate="slide">Here will be the blog lists.</h1>

	

  <ul>
    {
      allPosts.map((post) => (
        <BlogPostLink url={`/posts/${post.slug}`} title={post.data.title} />
      ))
    }
  </ul>

  <h5>Tags:</h5>
  <Tag tags={uniqueTags} />
</BaseLayout>
