---
import BlogPostLink from '../components/BlogPostLink.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
const allPosts = await Astro.glob('./posts/*.md')



---

<BaseLayout pageTitle="Blog">
	<h1>Here will be the blog lists.</h1>
	<ul>

			{allPosts.map(post => <BlogPostLink url={post.url} title={post.frontmatter.title} />)}
	  </ul>
</BaseLayout>
