---
const {platform, userName} = Astro.props
---

<a href=`https://www.${platform}.com/${userName}`>
    {platform.charAt(0).toUpperCase() + platform.slice(1)}
</a>

<style>
    a {
      padding: 0.5rem 1rem;
      color: white;
      background-color: #4c1d95;
      text-decoration: none;
    }
  </style>